.checkbox {
    background-color: var(--container-bg-color);
    border: 2px solid var(--border-color); 
    border-radius: 50%;
    display: block;
    height: var(--button-size);
    width: var(--button-size);
}

.todo-text {
    color: var(--todo-text-color);
}

.Todo input[type="checkbox"]:checked + .checkbox {
    background: url('../images/icon-check.svg'),
                var(--check-bg-color);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.Todo input[type="checkbox"]:checked ~ .todo-text {
    --todo-text-color: var(--light-grayish-blue);
    text-decoration: line-through;
}

.Todo:hover input[type="checkbox"]:not(:checked) + .checkbox {
    background: var(--check-bg-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Todo:hover input[type="checkbox"]:not(:checked) + .checkbox::after {
    background: var(--container-bg-color);
    border-radius: 50%;
    content: "";
    display: block;
    width: 90%;
    height: 90%;
}

.Todo input[type="text"] {
    caret-color: var(--bright-blue);
    outline: none;
    padding: 0.3rem 0;
}

.Todo button {
    background-image: url('../images/icon-cross.svg');
    height: var(--button-size);
    width: var(--button-size);
}

.Todo:hover button {
    display: block;
}

.Todo + hr {
    border: none;
    border-top: 1px solid var(--separator-color);
}

/* Mobile query */
@media (max-width: 1023px) {
    .Todo button {
        display: block;
    }
}