* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

/* Prevent text selection of an <body> element in all major browsers */
body {
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ and Edge */
  user-select: none;         /* Non-prefixed version, currently supported by Chrome and Opera */
}

:root {
  --bright-blue: hsl(220, 98%, 61%);
}

body, .root, .App {
  min-height: 100%;
}

/* Light theme */
.default {
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
}

/* Dark theme */
.alternate {
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --hover-light-grayish-blue: hsl(236, 33%, 92%);
  --grayish-blue: hsl(234, 11%, 52%);
  --dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

.default .light {
  display: block;
}

.default .dark {
  display: none; 
}

.alternate .light {
  display: none;
}

.alternate .dark {
  display: block;
}